In [1]:
mylist = ["orange", "mango", "kiwi", "pineapple", "banana","apple"]
mylist.sort()
print(mylist)

['apple', 'banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [3]:
mylist = [100, 50, 65, 82, 23]
mylist.sort()
print(mylist)

[23, 50, 65, 82, 100]

In [9]:
mylist = ["orange", "mango", "kiwi", "pineapple", "banana"]
mylist.sort(reverse = True)
print(mylist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [7]:
mylist = ["apple", "banana", "cherry"]
copylist = mylist.copy()
print(copylist)

['apple', 'banana', 'cherry']

In [9]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [11]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,0]
print(l1+l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [13]:
list1 = ["a", "b", "c","d"]
list2=[]
for i in list1:
    list2.append(i)
list2

['a', 'b', 'c', 'd']

In [15]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)
print(type(mytuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [17]:
mylist1 = ["apple", "banana", "cherry"]
print(type(mylist1))

<class 'list'>

In [11]:
t=(1,2,3,4,6)
l=list(t)
l.append(88)
print(l)
t=tuple(l)
t

[1, 2, 3, 4, 6, 88]

(1, 2, 3, 4, 6, 88)

In [19]:
mytuple = ("apple", "banana", "cherry","hello")
print(mytuple[1:])

('banana', 'cherry', 'hello')

In [23]:
mylist = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(mylist[:5])

('apple', 'banana', 'cherry', 'orange', 'kiwi')

In [46]:
x = ("apple", "banana", "cherry")
y = list(x)
y[2] = "dragon fruit"
x = tuple(y)

print(x)

('apple', 'banana', 'dragon fruit')

In [48]:
veg = ("apple", "banana", "cherry")

(green, yellow, red) = veg

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [50]:
veg = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow,red) = veg

print(green)
print(yellow)
print(red)

ValueError: too many values to unpack (expected 3)

In [54]:
veg = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, tropic,yellow,*red) = veg

print(green)
print(tropic)
print(yellow)
print(red)

apple
mango
papaya
['pineapple', 'cherry']

In [58]:
mytuple = ("apple", "banana", "cherry")
for i in mytuple:
  print(i)

apple
banana
cherry

In [60]:
mytuple1 = ("a", "b" , "c")
mytuple2 = (1, 2, 3)

mytuple3 = mytuple1 + mytuple2
print(mytuple3)

('a', 'b', 'c', 1, 2, 3)

In [62]:
mylist = (1, 3,8, 7, 5, 4, 6, 8, 5)

x = mylist.index(5)

print(x)

4

In [64]:
mytuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = mytuple.count(7)

print(x)

2

In [66]:
mytuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
list1=list(mytuple)
list1.append("hi")
mytuple=tuple(list1)
mytuple

(1, 3, 7, 8, 7, 5, 4, 6, 8, 5, 'hi')

In [ ]:
#input
k=(1,32,5,870,90)
k1=(67,349)

# output
k=(1,32,5,870,90,67,349)

In [ ]:

k=tuple(list(k)+list(k1))
k