In [1]:
set1 = {"apple", "banana", "orange",1}
set2 = {1, 2, 3,"apple",6,8,"banana"}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 6, 8, 'apple', 'orange', 'banana'}

In [3]:
set1 = {"apple", "banana", "orange"}
set2 = {1, 2, 3}

set3=set1|set2

set3

{1, 2, 3, 'apple', 'banana', 'orange'}

In [5]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena",3}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'c', 1, 2, 3, 'cherry', 'Elena', 'b', 'bananas', 'apple', 'a', 'John'}

In [7]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'c', 1, 2, 3, 'cherry', 'Elena', 'b', 'bananas', 'apple', 'a', 'John'}

In [9]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{'c', 1, 2, 3, 'b', 'a'}

In [11]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 1, 2, 'a', 3, 'b'}

In [13]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}


set3=set1.intersection(set2)
set3

{'apple'}

In [15]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = set1.intersection(set2)
print(result)  # Output: {3, 4}
print(set1)    # Output: {1, 2, 3, 4} (unchanged)

{3, 4}
{1, 2, 3, 4}

In [1]:
#set1 = {"apple", "banana", "cherry","microsoft"}
set2 = {"google", "microsoft", "apple"}
set3=set1.intersection(set2)
print(set3)
print(set1)
set1.intersection_update(set2)
print(set1)

{'microsoft', 'apple'}
{'banana', 'microsoft', 'apple', 'cherry'}
{'microsoft', 'apple'}

In [3]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [7]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set2.difference(set1)

print(set3)

{'google', 'microsoft'}

In [17]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set2 - set1
print(set3)

{'google', 'microsoft'}

In [13]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [32]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'microsoft', 'cherry', 'google'}

In [28]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'microsoft', 'cherry', 'google'}

In [34]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'microsoft', 'cherry', 'google'}

In [36]:
k=(1,2,3,344,5,5,578)
l=[8,6,6,88,9]