In [1]:
myset = {"apple", "banana", "cherry", False, True, 1,0,5,9,90,8,90}
myset

{5, 8, 9, 90, False, True, 'apple', 'banana', 'cherry'}

In [3]:
print(len(myset))

9

In [5]:

a={1,1,2,2,2,2,3,4,4}
a

{1, 2, 3, 4}

In [7]:
mylist=[1,2,2,2,3,454]
myset=set(mylist)
myset

{1, 2, 3, 454}

In [13]:
myset = {"apple", "banana", "cherry"}

for t in myset:
  print(t)

apple
cherry
banana

In [15]:
myset = {1,1,1,1,2,3,3,4}
myset

{1, 2, 3, 4}

In [27]:
myset = {"apple", "banana", "cherry"}

myset.add("theo")

print(myset)

{'apple', 'cherry', 'banana', 'theo'}

In [37]:
#doubt
myset = {"apple", "banana", "cherry"}
myset1 = {"pineapple", "mango", "papaya"}

myset.update(myset1)

print(myset)

{'apple', 'pineapple', 'cherry', 'banana', 'mango', 'papaya'}

In [39]:
#myset = {"apple", "banana", "cherry"}
mylist = {"kiwi", "orange","apple"}

myset.update(mylist)

print(myset)

{'apple', 'orange', 'cherry', 'banana', 'kiwi'}

In [41]:
myset = {"apple", "banana", "cherry"}

myset.remove("banana")

print(myset)

{'apple', 'cherry'}

In [43]:
myset = {"apple", "banana", "cherry"}

myset.discard("banana")

print(myset)

{'apple', 'cherry'}

In [45]:
myset = { "banana","apple",0,"hji",8.0}
print(myset)
x = myset.pop()

print(x)

print(myset)

{0, 'apple', 'banana', 8.0, 'hji'}
0
{'apple', 'banana', 8.0, 'hji'}